@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Castoro", serif;
  margin: 0;
  background-color: #8f8e8e;
  color: #000000;
}

.text-red {
  color: #970707;
}

.border {
  border: 1px solid;
  border-radius: 1%;
  background-color: #cccccc;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
  text-align: center;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: breakpoint-md) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: breakpoint-lg) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: breakpoint-xl) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: breakpoint-xxl) {
  .container {
    max-width: 1320px;
  }
}

#registration-form .header {
  color: #007BFF;
  text-decoration: underline;
}

#registration-form .form-check {
  margin-top: 2rem;
}

#registration-form .form-check p {
  margin-top: 0.5rem;
  font-size: 12px;
}

#registration-form .btn {
  font-size: 1.5rem;
  padding: .400rem 2rem;
}

#login-form .form-row {
  justify-content: center;
}
