#registration-form {

    .form-group .form-check {
        text-align: center;
        margin-top: 1rem;

        p {
            margin-top: 0.5rem;
            font-size: 12px;
        }

       
    }

    .btn {
        font-size: 1.5rem;
        padding: .400rem 1rem;
    }

    
    
}