#registration-form {
    .header {
        color: $blue;
        text-decoration: underline;
    }

    .form-control {
        border-radius: 8px;
    }
        
    .divider {
        border-bottom: 3px solid $blue;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .form-check {
        margin-top: 2rem;

        p {
            margin-top: 0.5rem;
            font-size: 12px;
        }
    }

    .btn {
        font-size: 1.5rem;
        padding: .400rem 2rem;
    }
}